.footer-wrap{
    color: #f5f3ef;
    background-color: #1e1e21;

    small{
        display: block;
        text-align: center;
        padding-top: 4rem;
        padding-bottom: 2rem;
        font-family: Inter,sans-serif;
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 140%;
        @include mobile{
            font-size: 1rem;
        }
    }
}