@charset "UTF-8";
@import url("../../font/SuisseIntl-Book.woff2");
@import url("../../font/SuisseIntl-Bold.woff2");
/* 
    @리셋을쓴이유

    1.AdorableCSS는 AtomicCSS를 더하면서 조립하는 방식이기에 가급적
    하드리셋을 추구하는 방향으로 설계하는 편이 좋다고 생각했습니다.

    2.table, a, button, img 역시 다루기 편하게 하드리셋을 택했습니다.

    3.box-sizing:border-box, overflow-wrap,
    webkit-text-size-adjust와 같이 default보다 좋은 값이 있으면 설정해주고 싶었습니다.
*/
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

select,
input,
textarea,
button {
  font: inherit;
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

input,
textarea {
  border: 0;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}

input::placeholder,
textarea::placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE, Edge */
  color: #444;
  opacity: 1;
}

input[readonly]::-moz-placeholder, input:disabled::-moz-placeholder, textarea[readonly]::-moz-placeholder, textarea:disabled::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder, textarea[readonly]:-ms-input-placeholder, textarea:disabled:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input[readonly]::-webkit-input-placeholder, input:disabled::-webkit-input-placeholder, textarea[readonly]::-webkit-input-placeholder, textarea:disabled::-webkit-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input[readonly]::-ms-input-placeholder, input:disabled::-ms-input-placeholder, textarea[readonly]::-ms-input-placeholder, textarea:disabled::-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input[readonly]::placeholder, input:disabled::placeholder,
textarea[readonly]::placeholder,
textarea:disabled::placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* IE, Edge */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input::-ms-clear, input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
  /* IE, Edge */
  display: none;
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

body {
  color: #1e1e21;
  background: #f5f3ef;
  font-family: "suisse";
}

.inner {
  padding-left: 4rem;
  padding-right: 4rem;
  position: relative;
  /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
}
@media (max-width: 767px) {
  .inner {
    padding-left: 2.3rem;
    padding-right: 2.3rem;
  }
}

.inner-wrap {
  padding: 4rem 0;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
}

.noise-wrap {
  position: relative;
}
.noise-wrap::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../images/noise.png);
  background-position: 0 0;
  background-size: 150px 150px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  z-index: 2;
  opacity: 0.5;
}

.btn-bov {
  color: #f5f3ef;
  text-align: center;
  cursor: pointer;
  background-color: #1e1e21;
  border: 2px solid #1e1e21;
  border-radius: 500px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 1rem 1.5rem;
  font-family: Inter, sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 110%;
  text-decoration: none;
  -webkit-transition: border-color 0.2s, color 0.2s, background-color 0.2s;
  transition: border-color 0.2s, color 0.2s, background-color 0.2s;
}

.button {
  color: #f5f3ef;
  text-align: center;
  cursor: pointer;
  background-color: #1e1e21;
  border: 2px solid #1e1e21;
  border-radius: 500px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 1rem 1.5rem;
  font-family: Inter, sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 110%;
  text-decoration: none;
  -webkit-transition: border-color 0.2s, color 0.2s, background-color 0.2s;
  transition: border-color 0.2s, color 0.2s, background-color 0.2s;
  overflow: hidden;
  /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
}
@media (max-width: 767px) {
  .button {
    padding: 1rem;
    border: none;
  }
}
.button.white {
  display: inline-block;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
  color: #111;
  background-color: #fff;
  border-width: 1px;
  border-color: transparent;
  font-size: 18px;
  font-weight: normal;
}
.button.white .btn-inner {
  height: 18px;
  /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
}
@media (max-width: 767px) {
  .button.white .btn-inner {
    font-size: 1rem;
  }
}
.button.white span {
  line-height: 1.2rem;
}
.button.white:hover .btn-inner span {
  -webkit-transform: translateY(-1.2rem);
          transform: translateY(-1.2rem);
}
.button:hover .btn-inner span {
  -webkit-transform: translateY(-22px);
          transform: translateY(-22px);
}
.button .btn-inner {
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.button .btn-inner span {
  line-height: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.line-colum {
  content: "";
  width: 2px;
  height: 100%;
  -webkit-perspective-origin: 50%;
          perspective-origin: 50%;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  background-color: #1e1e21;
  position: absolute;
  top: 0;
  right: 0;
}

.line-row {
  content: "";
  width: 100%;
  height: 2px;
  -webkit-perspective-origin: 50%;
          perspective-origin: 50%;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  background-color: #1e1e21;
  position: absolute;
  bottom: 0;
  left: 0;
}

.landing-wrap {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.landing-wrap .landing {
  z-index: 9999;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}
.landing-wrap .landing .landing-overlay {
  width: 25%;
  height: 100%;
  background-color: #1e1e21;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}
.landing-wrap .landing .landing-overlay.second {
  left: 25%;
}
.landing-wrap .landing .landing-overlay.third {
  left: 50%;
}
.landing-wrap .landing .landing-overlay.fourth {
  left: 75%;
}

.header .menu-wrap {
  z-index: 1000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 120rem;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-right: 2rem;
}
.header .menu-wrap .number a span {
  width: 56px;
  height: 56px;
  color: #f5f3ef;
  text-align: center;
  cursor: pointer;
  background-color: #1e1e21;
  border: 2px solid #1e1e21;
  border-radius: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 110%;
  text-decoration: none;
  -webkit-transition: border-color 0.2s, color 0.2s, background-color 0.2s;
  transition: border-color 0.2s, color 0.2s, background-color 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .menu-wrap .btn-area .btn-menu {
  color: #f5f3ef;
  text-align: center;
  cursor: pointer;
  background-color: #1e1e21;
  border: 2px solid #1e1e21;
  border-radius: 500px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 1rem 1.5rem;
  font-family: Inter, sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 110%;
  text-decoration: none;
  /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
}
@media (max-width: 767px) {
  .header .menu-wrap .btn-area .btn-menu {
    padding: 1rem;
    border: none;
    line-height: 1;
  }
}

.menu-wrap {
  z-index: 1000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.menu-wrap .menu-area {
  width: 100%;
  max-width: 120rem;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.menu-wrap .menu-area .btn-area .btn-menu {
  color: #f5f3ef;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
.menu-wrap .menu-area .btn-area .btn-menu span {
  background-color: #1e1e21;
  border: 2px solid #1e1e21;
  border-radius: 500px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 1rem 1.5rem;
  font-family: Inter, sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 110%;
  -webkit-transition: border-color 0.2s, color 0.2s, background-color 0.2s;
  transition: border-color 0.2s, color 0.2s, background-color 0.2s;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1005;
}
.nav .btn-close {
  z-index: 999;
  width: 60px;
  height: 60px;
  color: #1e1e21;
  text-align: center;
  cursor: pointer;
  background-color: #f5f3ef;
  border: 2px solid #f5f3ef;
  border-radius: 500px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Inter, sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 110%;
  text-decoration: none;
  -webkit-transition: border-color 0.2s, color 0.2s, background-color 0.2s;
  transition: border-color 0.2s, color 0.2s, background-color 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 2rem;
  bottom: auto;
  left: auto;
  right: 2rem;
  overflow: hidden;
}
.nav .btn-close .icon {
  width: 32px;
  height: 32px;
}
.nav .nav-menu {
  z-index: 2;
  height: 100vh;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  color: #f5f3ef;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.nav .nav-menu .menu-item {
  overflow: hidden;
}
.nav .nav-menu .menu-item a {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  color: #fff;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 0;
  margin-left: -76px;
  padding-left: 0;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 8rem;
  letter-spacing: -3px;
  text-transform: uppercase;
  font-family: Inter, sans-serif;
  font-weight: 600;
  overflow: hidden;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
}
@media (max-width: 767px) {
  .nav .nav-menu .menu-item a {
    font-size: 5rem;
  }
}
.nav .nav-menu .menu-item a:hover .menu-txt {
  -webkit-transform: translateY(-8rem);
          transform: translateY(-8rem);
  /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
}
@media (max-width: 767px) {
  .nav .nav-menu .menu-item a:hover .menu-txt {
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem);
  }
}
.nav .nav-menu .menu-item a .icon {
  width: 60px;
  height: 60px;
}
.nav .nav-menu .menu-item a .icon svg {
  fill: #fff;
}
.nav .nav-menu .menu-item a .menu-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 8rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
}
@media (max-width: 767px) {
  .nav .nav-menu .menu-item a .menu-txt {
    height: 5rem;
  }
}
.nav .nav-menu .menu-item a .menu-txt span {
  line-height: 1;
}
.nav .bg-overlay {
  z-index: 1;
  width: 25%;
  height: 0%;
  background-color: #1e1e21;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}
.nav .bg-overlay.second {
  left: 25%;
}
.nav .bg-overlay.third {
  left: 50%;
}
.nav .bg-overlay.fourth {
  left: 75%;
}

.footer-wrap {
  color: #f5f3ef;
  background-color: #1e1e21;
}
.footer-wrap small {
  display: block;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 2rem;
  font-family: Inter, sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 140%;
  /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
}
@media (max-width: 767px) {
  .footer-wrap small {
    font-size: 1rem;
  }
}

.main-wrap {
  background: #f5f3ef;
}
.main-wrap #sc-main .main-title {
  font-size: 9rem;
  letter-spacing: -7px;
  font-family: Inter, sans-serif;
  font-weight: 600;
  line-height: 100%;
  padding-top: 4rem;
  /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
}
@media (max-width: 767px) {
  .main-wrap #sc-main .main-title {
    font-size: 3rem;
    padding-top: 6rem;
  }
}
.main-wrap #sc-main .bottom {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem 0;
}
.main-wrap #sc-main .bottom h3 {
  letter-spacing: -0.5px;
  font-family: Inter, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 120%;
  font-size: 2rem;
  /* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
  /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
}
@media (max-width: 1024px) {
  .main-wrap #sc-main .bottom h3 {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  .main-wrap #sc-main .bottom h3 {
    font-size: 0.8rem;
  }
}
.main-wrap #sc-main .bottom .scroll-down {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
  text-decoration: none;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: -0.5px;
  font-family: Inter, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 120%;
  overflow: hidden;
  /* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
  /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
}
@media (max-width: 1024px) {
  .main-wrap #sc-main .bottom .scroll-down {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  .main-wrap #sc-main .bottom .scroll-down {
    font-size: 0.8rem;
  }
}
.main-wrap #sc-main .bottom .scroll-down .icon {
  width: 40px;
  height: 40px;
  line-height: 100%;
  position: relative;
}
.main-wrap #sc-main .bottom .scroll-down .icon .after {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.main-wrap #sc-main .bottom .scroll-down .icon .before {
  position: absolute;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  top: 0;
  left: 0;
  -webkit-transform: translate(-100%, -100%);
          transform: translate(-100%, -100%);
}
.main-wrap #sc-main .bottom .scroll-down:hover .icon .after {
  -webkit-transform: translate(100%, 100%);
          transform: translate(100%, 100%);
}
.main-wrap #sc-main .bottom .scroll-down:hover .icon .before {
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}
.main-wrap #sc-visual {
  height: 90vh;
  max-height: 75vw;
  position: relative;
  overflow: hidden;
}
.main-wrap #sc-visual .img-area {
  position: relative;
  width: 100%;
  height: 100%;
}
.main-wrap #sc-visual .img-area::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../images/noise.png);
  background-position: 0 0;
  background-size: 150px 150px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  z-index: 2;
  opacity: 0.5;
}
.main-wrap #sc-visual .img-area img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-wrap #About .sc-about .gird-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  --bar:0;
  /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
}
@media (max-width: 767px) {
  .main-wrap #About .sc-about .gird-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.main-wrap #About .sc-about .gird-box::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: var(--bar);
  height: 2px;
  background: #1e1e21;
  content: "";
}
.main-wrap #About .sc-about .gird-box h2 {
  letter-spacing: -2px;
  font-family: Inter, sans-serif;
  font-size: 5.5rem;
  font-weight: 600;
  line-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 4rem;
  position: relative;
  /* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
  /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
}
@media (max-width: 1024px) {
  .main-wrap #About .sc-about .gird-box h2 {
    font-size: 40px;
    line-height: 1.2;
  }
}
@media (max-width: 767px) {
  .main-wrap #About .sc-about .gird-box h2 {
    font-size: 20px;
    padding-right: 0;
    padding-bottom: 2rem;
  }
}
.main-wrap #About .sc-about .gird-box .cont-box {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  padding-left: 4rem;
  position: relative;
  overflow: hidden;
  --bar:0;
}
.main-wrap #About .sc-about .gird-box .cont-box::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 2px;
  height: var(--bar);
  background: #1e1e21;
  /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
}
@media (max-width: 767px) {
  .main-wrap #About .sc-about .gird-box .cont-box::before {
    width: 100%;
    height: 2px;
  }
}
.main-wrap #About .sc-about .gird-box .cont-box .line-colum {
  top: 0;
  left: 0;
}
.main-wrap #About .sc-about .gird-box .cont-box .title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.main-wrap #About .sc-about .gird-box .cont-box .title h3 {
  letter-spacing: -0.5px;
  font-family: Inter, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 120%;
  margin: 1rem;
}
.main-wrap #About .sc-about .gird-box .cont-box .icon-box {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-wrap #About .sc-about .gird-box .cont-box .icon-box a {
  width: 48px;
  height: 48px;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
  color: #fff;
  background-color: #1e1e21;
  border-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}
.main-wrap #About .sc-about .gird-box .cont-box .icon-box a svg {
  width: 24px;
  height: 24px;
  line-height: 100%;
}
.main-wrap #About .sc-skill .grid-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  --bar:0;
  /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
}
@media (max-width: 767px) {
  .main-wrap #About .sc-skill .grid-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 2rem;
  }
}
.main-wrap #About .sc-skill .grid-box::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: var(--bar);
  height: 2px;
  background: #1e1e21;
  content: "";
}
.main-wrap #About .sc-skill .grid-box .line-row {
  bottom: 0;
}
.main-wrap #About .sc-skill .grid-box .left {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  padding-right: 3rem;
  position: relative;
  /* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
  /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
}
@media (max-width: 1024px) {
  .main-wrap #About .sc-skill .grid-box .left {
    padding-right: 2rem;
  }
}
@media (max-width: 767px) {
  .main-wrap #About .sc-skill .grid-box .left {
    padding-right: 0;
    padding-bottom: 2rem;
  }
}
.main-wrap #About .sc-skill .grid-box .left::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: var(--bar);
  background: #1e1e21;
  content: "";
  /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
}
@media (max-width: 767px) {
  .main-wrap #About .sc-skill .grid-box .left::before {
    position: static;
  }
}
.main-wrap #About .sc-skill .grid-box .left::after {
  /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
}
@media (max-width: 767px) {
  .main-wrap #About .sc-skill .grid-box .left::after {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: #1e1e21;
    content: "";
  }
}
.main-wrap #About .sc-skill .grid-box .left .sticky-area {
  position: sticky;
  top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-wrap #About .sc-skill .grid-box .left .sticky-area h3 {
  letter-spacing: -0.5px;
  font-family: Inter, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 120%;
}
.main-wrap #About .sc-skill .grid-box .left .sticky-area .icon svg {
  width: 40px;
  height: 40px;
  line-height: 100%;
}
.main-wrap #About .sc-skill .grid-box .right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 3rem;
  position: relative;
  overflow: hidden;
  /* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
  /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
}
@media (max-width: 1024px) {
  .main-wrap #About .sc-skill .grid-box .right {
    padding-left: 2rem;
  }
}
@media (max-width: 767px) {
  .main-wrap #About .sc-skill .grid-box .right {
    padding-left: 0;
  }
}
.main-wrap #About .sc-skill .grid-box .right h4 {
  letter-spacing: -1px;
  font-family: Inter, sans-serif;
  font-size: 2.75rem;
  font-weight: 600;
  line-height: 110%;
  margin: 0.5rem 0;
  /* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
  /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
}
@media (max-width: 1024px) {
  .main-wrap #About .sc-skill .grid-box .right h4 {
    font-size: 1.8rem;
  }
}
@media (max-width: 767px) {
  .main-wrap #About .sc-skill .grid-box .right h4 {
    padding-top: 2rem;
  }
}
.main-wrap #About .sc-skill .grid-box .right p {
  color: rgba(30, 30, 33, 0.7);
  font-size: 18px;
  /* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
}
@media (max-width: 1024px) {
  .main-wrap #About .sc-skill .grid-box .right p {
    font-size: 1.5rem;
    padding-bottom: 2rem;
  }
}
.main-wrap #About .sc-skill .grid-box .right .txt-area {
  grid-column-gap: 4rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
}
@media (max-width: 1024px) {
  .main-wrap #About .sc-skill .grid-box .right .txt-area {
    grid-column-gap: 2rem;
  }
}
.main-wrap #About .sc-skill .grid-box .right .txt-area .line-colum {
  left: 0;
}
.main-wrap #About .sc-skill .grid-box .right .txt-area .txt-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.main-wrap #About .sc-skill .grid-box .right .txt-area .txt-box.first,
.main-wrap #About .sc-skill .grid-box .right .txt-area .txt-box.third {
  padding-right: 4rem;
  position: relative;
  overflow: hidden;
  /* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
  /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
}
.main-wrap #About .sc-skill .grid-box .right .txt-area .txt-box.first::before,
.main-wrap #About .sc-skill .grid-box .right .txt-area .txt-box.third::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: var(--bar);
  background: #1e1e21;
  content: "";
  /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
}
@media (max-width: 767px) {
  .main-wrap #About .sc-skill .grid-box .right .txt-area .txt-box.first::before,
  .main-wrap #About .sc-skill .grid-box .right .txt-area .txt-box.third::before {
    width: 100%;
    height: 2px;
    top: 99%;
  }
}
@media (max-width: 1024px) {
  .main-wrap #About .sc-skill .grid-box .right .txt-area .txt-box.first,
  .main-wrap #About .sc-skill .grid-box .right .txt-area .txt-box.third {
    padding-right: 2rem;
  }
}
@media (max-width: 767px) {
  .main-wrap #About .sc-skill .grid-box .right .txt-area .txt-box.first,
  .main-wrap #About .sc-skill .grid-box .right .txt-area .txt-box.third {
    padding-right: 0;
  }
}
.main-wrap #About .sc-skill .grid-box .right .txt-area .txt-box.second,
.main-wrap #About .sc-skill .grid-box .right .txt-area .txt-box.fourth {
  padding-left: 4rem;
  position: relative;
  overflow: hidden;
  /* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
  /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
}
@media (max-width: 1024px) {
  .main-wrap #About .sc-skill .grid-box .right .txt-area .txt-box.second,
  .main-wrap #About .sc-skill .grid-box .right .txt-area .txt-box.fourth {
    padding-left: 2rem;
  }
}
@media (max-width: 767px) {
  .main-wrap #About .sc-skill .grid-box .right .txt-area .txt-box.second,
  .main-wrap #About .sc-skill .grid-box .right .txt-area .txt-box.fourth {
    padding-left: 0;
  }
}
.main-wrap #About .sc-skill .grid-box .right .txt-area .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-bottom: 4rem;
  /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
}
.main-wrap #About .sc-skill .grid-box .right .txt-area .top::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: var(--bar);
  height: 2px;
  background: #1e1e21;
  content: "";
}
@media (max-width: 767px) {
  .main-wrap #About .sc-skill .grid-box .right .txt-area .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.main-wrap #About .sc-skill .grid-box .right .txt-area .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 4rem;
  position: relative;
  /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
}
@media (max-width: 767px) {
  .main-wrap #About .sc-skill .grid-box .right .txt-area .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.main-wrap #About .sc-info .wrap {
  padding: 3rem 0;
  overflow: hidden;
}
.main-wrap #About .sc-info .wrap .txt {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-wrap #About .sc-info .wrap .txt .word {
  letter-spacing: -7px;
  font-family: Inter, sans-serif;
  font-size: 10rem;
  font-weight: 600;
  line-height: 90%;
  /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
}
@media (max-width: 767px) {
  .main-wrap #About .sc-info .wrap .txt .word {
    font-size: 6rem;
  }
}
.main-wrap #sc-project {
  position: relative;
  overflow: hidden;
}
.main-wrap #sc-project .list .item .item-link {
  height: 90vh;
  max-height: 75vw;
  display: block;
  position: relative;
  overflow: hidden;
  -webkit-transform: translate(0);
          transform: translate(0);
  /* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
}
@media (max-width: 1024px) {
  .main-wrap #sc-project .list .item .item-link {
    max-height: 40vh;
  }
}
.main-wrap #sc-project .list .item .item-link:hover .btn {
  opacity: 1;
}
.main-wrap #sc-project .list .item .item-link:hover .btn img {
  max-width: 100%;
  /* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
}
@media (max-width: 1024px) {
  .main-wrap #sc-project .list .item .item-link:hover .btn img {
    max-width: 110%;
  }
}
.main-wrap #sc-project .list .item .item-link .btn {
  position: absolute;
  z-index: 10;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  pointer-events: none;
  opacity: 0;
}
.main-wrap #sc-project .list .item .item-link .btn .icon {
  z-index: 10;
  background-color: #1e1e21;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 80px;
  height: 80px;
}
.main-wrap #sc-project .list .item .item-link .btn .icon svg {
  width: 32px;
  height: 32px;
  color: #f5f3ef;
  line-height: 100%;
}
.main-wrap #sc-project .list .item .title {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 0.75fr;
  grid-auto-columns: 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 3rem 4rem;
  display: grid;
  /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
}
@media (max-width: 767px) {
  .main-wrap #sc-project .list .item .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem;
  }
}
.main-wrap #sc-project .list .item .title h3 {
  grid-area: span 1/span 1/span 1/span 1;
  letter-spacing: -7px;
  font-family: Inter, sans-serif;
  font-size: 9rem;
  font-weight: 600;
  line-height: 100%;
  /* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
  /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
}
@media (max-width: 1024px) {
  .main-wrap #sc-project .list .item .title h3 {
    font-size: 6.5rem;
  }
}
@media (max-width: 767px) {
  .main-wrap #sc-project .list .item .title h3 {
    font-size: 4rem;
  }
}
.main-wrap #sc-project .list .item .desc {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  /* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
}
@media (max-width: 1024px) {
  .main-wrap #sc-project .list .item .desc {
    gap: 20px;
  }
}
.main-wrap #sc-project .list .item .desc p {
  font-size: 1.25rem;
  line-height: 160%;
  color: rgba(30, 30, 33, 0.7);
  /* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
}
@media (max-width: 1024px) {
  .main-wrap #sc-project .list .item .desc p {
    font-size: 1rem;
  }
}
.main-wrap #sc-project .list .item .desc .teg-wrap span {
  border: 2px solid #1e1e21;
  border-radius: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 0.75rem;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 100%;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
  color: #fff;
  background-color: #1e1e21;
  border-color: transparent;
  /* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
  /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
}
@media (max-width: 1024px) {
  .main-wrap #sc-project .list .item .desc .teg-wrap span {
    padding: 0.5rem;
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  .main-wrap #sc-project .list .item .desc .teg-wrap span {
    border: none;
    font-size: 0.8rem;
  }
}
.main-wrap #sc-connect {
  color: #f5f3ef;
  text-align: center;
  background-color: #1e1e21;
}
.main-wrap #sc-connect h3 {
  letter-spacing: -0.5px;
  font-family: Inter, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 120%;
  /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
}
@media (max-width: 767px) {
  .main-wrap #sc-connect h3 {
    font-size: 1.8rem;
  }
}
.main-wrap #sc-connect .txt {
  letter-spacing: -7px;
  font-family: Inter, sans-serif;
  font-size: 9rem;
  font-weight: 600;
  line-height: 100%;
  margin: 3rem;
  /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
}
@media (max-width: 767px) {
  .main-wrap #sc-connect .txt {
    font-size: 5rem;
    margin: 2rem;
  }
}